numpy
matplotlib
pandas
psycopg2-binary
altair
bokeh
jupyter
jupyter_bokeh
jupyterthemes
squarify
bokeh_sampledata
openpyxl
scipy
# ipywidgets 
# widgetsnbextension 
# ipympl
# jupyter 
# jupyter_contrib_nbextensions
seaborn
holoviews